* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;

  header {
    margin-bottom: 50px;
  }

  .leaderboard {
    display: flex;
    padding-left: 30px;

    .left_score {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      width: 200px;

      .title_score {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;

        h3 {
          padding-right: 1%;
        }

        #refresh_btn {
          border: 2px solid black;
          padding: 1px 10px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
          border-radius: 4px;
        }
      }

      #recent {
        border: 3px solid black;
        border-radius: 3px;

        .line {
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-weight: bold;
          letter-spacing: -0.8px;
          height: 25px;
        }
      }
    }

    .right_add {
      display: flex;
      flex-direction: column;
      margin-left: 100px;

      .second {
        margin-bottom: 10%;
      }

      .form_struct {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .enter_name {
          margin-bottom: 10%;
          border: 2px solid black;
          height: 25px;
          padding-left: 10px;
          border-radius: 7px;
        }

        .enter_score {
          margin-bottom: 10%;
          border: 2px solid black;
          height: 25px;
          padding-left: 10px;
          border-radius: 7px;

        }

        ::placeholder {
          color: rgba(0, 0, 255, 0.623);
        }

        .submit_btn {
          width: 40%;
          border: 2px solid black;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
          border-radius: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 763px) {
  .container {

    header {
      display: flex;
      justify-content: center;
      padding-left: 30px;
    }

    .leaderboard {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .left_score {
        display: flex;
        flex-direction: column;
        margin-right: 0;
      }

      .right_add {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 50px;
      }
    }
  }
}